#cloud-config
users:
{{- if .UsersConfig.IncludeDefault }}
  - default
{{- end }}
{{- range .UsersConfig.Users}}  
  - name: {{.Name}}
  {{ if ne .Password ""}}
    plain_text_passwd: {{.Password}}
    lock_passwd: false
  {{- end}}
  {{- $length_keys := len .SSHKeys }} {{- if ne $length_keys 0 }}
    ssh_authorized_keys:
    {{- range .SSHKeys}}
      - {{.}}
    {{- end }}  
  {{- end }}  
  {{- if ne .Sudo "" }} 
    sudo: ["{{.Sudo}}"]
  {{- end }}  
  {{- $length_groups := len .Groups }} {{- if ne $length_groups 0 }}
    groups:  {{.Groups.Join}}
  {{- end}}  
    shell: /bin/bash
{{- end }}    
write_files:
  - path:  /etc/profile.d/virt.sh
    content: |
    {{- $length_envs := len .EnvVariables }} {{- if ne $length_envs 0 }}
      {{- range $key, $value := .EnvVariables }}
      export {{$key}}={{$value}}
      {{- end }} 
    {{- end }}
    permissions: '0777'
    owner: root:root
{{- range .Files}}  
  - path: {{.Path}}
    content:  {{.Content}}
    permissions: '{{.Permissions}}'
    owner: root:root
{{- end}}