#cloud-config

{{- if .Timezone }}
timezone: {{.Timezone.String}}
{{- end }}

{{- if .UsersConfig}}
users:
  {{- if .UsersConfig.IncludeDefault }}
  - default
  {{- end }}
  {{- range .UsersConfig.Users}}  
  - name: {{.Name}}
    {{- if ne .Password ""}}
    plain_text_passwd: {{.Password}}
    lock_passwd: false
    {{- end}}
    {{- $length_keys := len .SSHKeys }} {{- if ne $length_keys 0 }}
    ssh_authorized_keys:
      {{- range .SSHKeys}}
      - {{.}}
      {{- end }}  
    {{- end }}  
    {{- if ne .Sudo "" }} 
    sudo: "{{.Sudo}}"
    {{- end }}  
    {{- $length_groups := len .Groups }} {{- if ne $length_groups 0 }}
    groups:  {{.Groups.Join}}
    {{- end}}  
    shell: /bin/bash
  {{- end }}   
{{- end }}

{{- $length_envs := len .EnvVariables }}
{{- $lenght_files := len .Files }}
{{- if or (ne $length_envs 0) (ne $lenght_files 0)}}
write_files:
  {{- if ne $length_envs 0 }}
  - path:  /etc/profile.d/virt.sh
    content: |
      {{- range $key, $value := .EnvVariables }}
      export {{$key}}={{$value}}
      {{- end }} 
    permissions: '0777'
    owner: root:root
  {{- end }}
  {{- range .Files}}  
  - path: {{.Path}}
    content:  {{.Content}}
    permissions: '{{.Permissions}}'
    owner: root:root
  {{- end }}
{{- end }}

{{- $length_mounts := len .Mounts }} {{- if ne $length_mounts 0 }}
mounts:
  {{- range .Mounts}}  
  - [ {{.Tag}}, {{.Destination}}, "ext4", "defaults", "0", "2" ]
  {{- end }}
{{- end }}

{{- $length_cmd := len .CMD }} 
{{- if or (ne $length_cmd 0) (ne $length_mounts 0)}}
runcmd:
  {{- range .Mounts}}  
  - mkdir -p {{.Destination}}
  - mount -t virtiofs {{.Tag}} {{.Destination}}
  {{- end }}
  {{- range .CMD}}  
  - {{.}}
  {{- end }}
{{- end }}