#cloud-config


{{- if .UserData.Users.Password }}
password: {{.UserData.Users.Password}}
{{- end }}


{{- if .UserData.Users}}
users:
  {{- if .UserData.Users.SSHKeys }}
  - ssh-authorized-keys: {{.UserData.Users.SSHKeys }}
  {{- end }}
  {{- if .UserData.Users.IncludeDefault }}
  - default
  {{- end }}
  {{- range .UserData.Users.Users}}  
  - name: {{.Name}}
    {{- if ne .Password ""}}
    plain_text_passwd: {{.Password}}
    lock_passwd: false
    {{- end}}
    {{- $length_keys := len .SSHKeys }} {{- if ne $length_keys 0 }}
    ssh_authorized_keys:
      {{- range .SSHKeys}}
      - {{.}}
      {{- end }}  
    {{- end }}  
    {{- if ne .Sudo "" }} 
    sudo: "{{.Sudo}}"
    {{- end }}  
    {{- $length_groups := len .Groups }} {{- if ne $length_groups 0 }}
    groups:  {{.Groups.Join}}
    {{- end}}  
    {{- if ne .Sudo "" }} 
    shell: /bin/bash
    {{- end}}
  {{- end }}   
{{- end }}


{{- $length_mounts := len .UserData.Mounts }} {{- if ne $length_mounts 0 }}
mounts:
  {{- range .UserData.Mounts}}  
  - [ {{.Tag}}, {{.Destination}}, "ext4", "defaults", "0", "2" ]
  {{- end }}
{{- end }}


{{- $lenght_files := len .Files }}{{- if ne $lenght_files 0}}
write_files:
  {{- range .Files}}  
  - path: {{.Path}}
    content:  {{.Content}}
    permissions: '{{.Permissions}}'
    owner: root:root
  {{- end }}
{{- end }}


{{- $length_cmd := len .UserData.RunCMD }} {{- if or (ne $length_cmd 0) }}
runcmd:
  {{- range .UserData.RunCMD}}  
  - {{.}}
  {{- end }}
{{- end }}

